<!DOCTYPE html>
{% extends 'Testline_Details/base.html' %}
{% block title_block %}
About
{% endblock %}

{% block body_block %}
<style>
#id1{

margin: 120px 0 50px; text-align:center

}

</style>
<div id="id1">
This is a simple Django powered web application for managing SRAN Testline details. This web app is put together by Rajagopalan Nagraj and Shabaj. This is our first basic attempt, and we will keep adding more functionalities and make it better, if you feel this is helpful.
There may be some errors, as this is our first attempt. If you encounter any errors, or if you have any improvement suggestions, let us know. We will work on them. 
                  <br><br>        Gracias.     </div>
<br><br><br><br>
{% endblock %}